<!DOCTYPE html>
<html>
<head>
        <body style="background-color:blanchedalmond">
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body><center>



          <h1>                      <%=data["Title"]%><br></h1></center>
           runtime:                      <%=data["Runtime"]%><br>
           Released tym  :               <%=data["Released"]%><br>
           genre :                       <%=data["Genre"]%><br>
           box office collection    :    <%=data["BoxOffice"]%><br>
           plot    :                     <%=data["Plot"]%><br>
           actors         :               <%=data["Actors"]%><br>
           imdb ratings    :              <%=data["imdbRating"]%>

</body>
</html>